---
import InputText from "../components/input_text"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Xfibben-Type</title>
	</head>
	<body class="min-h-screen bg-slate-700 grid place-items-center font-mono
    tracking-wider px-4">
		<div class="grid content-center text-center">
			<h1 class="text-white">Xfibben-Type</h1>
            <InputText client:load InitialText = {'hola'} InitialTime = {20}/>
		</div>
	</body>
</html>
