---
import InputText from "../components/input_text";
import CounterTime from "../components/counter_time";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Xfibben-Type</title>
	</head>
	<body class="flex justify-center items-center bg-slate-800">
		<div class="grid content-center text-center">
			<h1 class="text-white">Xfibben-Type</h1>
			<CounterTime client:visible initialTime={4}/>
			<InputText client:load InitialText={'hola'} />
		</div>
	</body>
</html>
